
.site-footer {
    padding: 40px 20px;
    margin-top: auto;
    border-top: 1px solid var(--text-color-light);
}

body.dark-theme .site-footer {
    border-top: 1px solid var(--text-color-dark);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: var(--text-color-light); /* Default for light theme */
}

body.dark-theme .footer-column h4 {
    color: var(--text-color-dark);
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.footer-column ul li {
    padding: 0;
    margin-bottom: 10px;
    animation: none;
}

.footer-column ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

body.light-theme .footer-column ul li a {
    color: var(--text-color-light);
}

body.dark-theme .footer-column ul li a {
    color: var(--text-color-dark);
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .social-icons {
        justify-content: center;
    }
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a svg {
    fill: var(--text-color-light);
    transition: fill 0.3s;
}

body.dark-theme .social-icons a svg {
    fill: var(--text-color-dark);
}

.social-icons a:hover svg {
    fill: var(--accent-color-light);
}

body.dark-theme .social-icons a:hover svg {
    fill: var(--accent-color-dark);
}

@media (min-width: 769px) {
    .site-footer {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--text-color-light);
}

body.dark-theme .footer-bottom {
    border-top: 1px solid var(--text-color-dark);
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--text-color-light); /* Default for light theme */
}

body.dark-theme .footer-bottom p {
    color: var(--text-color-dark);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .site-footer {
        padding-inline: 1rem;
    }
}
